footer {
  width: 100%;
  padding: 0;
  font-family: "Fuse V.2 Display";
  overflow: hidden;
}

.section__newsletter {
  display: block;
  color: #193b44;
  text-align: center;
}
.newsletter{
  display: flex;
  flex-direction: column;
  width: 45%;
  margin: 0 auto;
}
.section__newsletter h1 {
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #1a3b43;
  position: relative;
  display: block;
  font-size: 54px;
  font-weight: 600;
  margin-left: 40px;
}

.section__newsletter p {
  font-size: 18px;
  font-weight: normal;
  margin-top:-10px;
  margin-bottom:30px;
}

.section__social {
  margin-left: 280px;
  width: 1100px;
  display: flex;
}

.section__social img {
  width: 45px;
  height: 45px;
  padding-right: 40px;
  margin-top: 60px;
}

.footer__container {
  margin-left: 250px;
  display: flex;
  width: 1100px;
  margin-bottom: 0px;
}

.footer__container h3 {
  font-size: 12px;
  margin-top: 30px;
  margin-left:30px;
  font-weight: normal;
}

.link {
  margin-left: 150px;
  margin-top: 30px;
  display: flex;
}

.link a {
  text-decoration: none;
  color: grey;
  margin-right: 20px;
}
.section__contacts{
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
  margin-left: auto;
}
.section__contacts h1{
  font-size: 35px;
  font-weight: 600;
  margin: 0;
  color: #30cec2;
}
.section__contacts p{
  font-size: 19px;
  line-height:34px;
}
.section__contacts button{
  font-size: 18px;
  background-color: #30cec2;
  padding: 10px 14px;
  border-radius: 5px;
  color: #FFFFFF;
  border: none;
  font-weight: 600;
}
.contacts__left{
  box-sizing: border-box;
  padding: 60px 10% 60px 0;
  width: 30%;
}
.contacts__right{
  display: block;
  position: relative;
  width: 60%;
}
.right__text p{
  color: #FFFFFF;
}
.right__text{
  padding: 60px;
  width: 40%;
  z-index: 2;
}
.images__background {
  position: absolute;
  background-color: #1a3b43;
  border-radius: 35px;
  top: 0;
  z-index: -1;
  height: 100%;
}
.images__person{
  position: absolute;
  bottom: 0;
  right: -60px;
  height: 110%;
  z-index: 0;
}
.newsletter__form{
  display: flex;
  width: 100%;
}
.input {
  box-sizing: border-box;
  padding: 16px 20px;
  width: 75%;
  margin: 0;
  border: none;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  background-color: rgb(228, 215, 215);
}
.input::placeholder {
  font-size: 20px;
}
.signup {
  box-sizing: border-box;
  width: 24%;
  background-color: #1a3b43;
  color: white;
  padding: 14px 0;
  font-size: 20px;
  font-weight: 800;
  border: none;
  border-radius: 5px;
}
@media screen and (max-width: 1240px) {
  .section__contacts{
    width: 100%;
  }
  .section__social img {
    width: 44px;
    height: 42px;
  }

  .section__newsletter h1 {
    font-size: 54px;
  }
  .section__newsletter p {
    font-size: 20px;
  margin-top:-10px;
  margin-bottom:30px;
  }

  .input::placeholder {
    font-size: 18px;
  }

  .contacts__left{
    margin-left:100px;
  }

  .section__contacts h1{
    font-size:40px;
  }

  .section__contacts p{
    line-height: 34px;
  }

.section__social{
  width:48px;
  height:48px;
  margin-left:110px;
}
.footer__container{
  margin:60px 0px 0px 105px;
  }

 .link{
   margin-left:260px;
   font-size:24px;
 } 

}

@media screen and (max-width: 1024px) {
  .section__newsletter{
    margin-left:-120px;
    width:120%;
  }
  .section__newsletter h1 {
    font-size: 50px;
  }
  .section__newsletter p {
    font-size: 22px;
    margin-top:-10px;
  }
  .input::placeholder {
    font-size: 20px;
  }

.section__contacts h1{
  font-size:38px;
}
.section__contacts{
  width:100%;
  max-width:1500px;
}

.section__contacts p {
  line-height: 28px;
}

.section__contacts button {
  margin-top:20px;
}

  .section__social {
    margin-left: 60px;
  }
  .section__social img {
    width: 60px;
    height: 60px;
  }
  .footer__container {
    margin-left: 80px;
    margin-bottom: 0px;
  }

  .footer__container h3 {
    font-size: 16px;
    margin-top: 40px;
  }

  .link {
    margin-left: 150px;
    margin-top: 40px;
    font-size: 22px;
  }

  .link a {
    margin-right: 30px;
  }

}

@media screen and (max-width: 768px) {

  footer{
    margin-left:0px;
  }
  .section__newsletter h1 {
    font-size: 38px;
  }
  .section__newsletter p {
    font-size: 18px;
    width:500px;
    margin:10px 0px 20px -55px ;
  }
  .section__newsletter {
    max-width: 1000px;
    margin-left: -40px;
  }
  .input::placeholder {
    font-size: 20px;
  }
  .input {
    padding: 20px 0px 16px 24px;
    margin-left: -80px;
    max-width:540px;
    width:100%;
    display:flex;
    position:relative;
  }
  .signup {
    font-size: 14px;
    padding: 18px;
    padding-right:100px;
    
  }
  .section__contacts {
  flex-direction:column-reverse;
  width:100%;
  margin-top:50px;

  }
.contacts__right{
  width:100%;
  height:310px;
  justify-content: space-between;
  display:flex;

}

.section__contacts p, .section__contacts button {
  font-size:16px;
}
.section__contacts h1{
  font-size:30px;
}

.section__contacts button{
  margin-top:15px;
}

.contacts__left{
  width:40%;
  height:300px;
  margin-left:60px;
  margin-top:-10px;
  
}

.images__background{
  position:absolute;
  top:0px;
  left:-20px;
  margin-left:0px;
  z-index: -1; 
}

.images__person{
  position: absolute;
  right:20px;  
  height: 110%;
  z-index: 0;
}

  .right__text {
    position: absolute;
    max-width: 220px;
    width:100%;
    height: 50px;
    margin-top: -10px;
    z-index: 2;
  }

  .section__social {
    margin-top: -50px;
    margin-left: 60px;
  }

  .section__social img {
    width: 40px;
    height: 40px;
    padding-right:15px;
    }

  .footer__container {
    flex-direction: column-reverse;
    margin-left:100px;
    margin-top:10px;
  }
  .footer__container h3 {
    font-size: 14px;
    margin-left: -40px;
  }
  .link {
    margin: 46px 0px -20px -40px;
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {

  .section__newsletter{
    width:100%;
    max-width:700px;
    margin-left:30px;
    display:flex;
  }
  .section__newsletter h1 {
    font-size: 32px;
    margin-left:20px;
  }
  .section__newsletter p {
    font-size: 16px;
    margin: 20px 0px 60px -120px;
  }
  
  .input::placeholder {
    font-size: 16px;
  }
  .input {
    padding: 5px 0px 5px 20px;
    margin-left: -80px;
    max-width:690px; 
    height:45px;
    width:200%;
    position:relative;
  }
  .signup {
    font-size: 14px;
    padding: 12px;
    padding-right:90px;
  }

.contacts-right{
width:100%;
}

.images__person{
right:200px;
}


}
