.navbar{
    box-sizing: border-box;
    position: fixed;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 100%;
    padding: 0 60px;
    z-index: 3;
}
.navbar__logo{
    width: 251px;
    height: 63px;
    margin-top: 16px;
}
.navbar__navigation{
    display: flex;
    flex-direction: row;
    list-style: none;
}
.navigation__button a{
    text-decoration: none;
    color: #FFFFFF;
    font-family: "Fuse V.2 Display";
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
}
.navigation__button{
    padding: 16px;
}
.navigation__button--full > a{
    background-color: #30CEC2;
    border-radius: 5px;
    padding: 6px 13px 7px 13px;
}
.navigation__hamburger{
    display: none;
}
.navigation__icons{
    display: none;
}
@media screen and (max-width: 1024px){
    .navbar__navigation{
        display: none;
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #2C373F;
    }
    .navigation__hamburger{
        display: block;
        height: 50px;
        width: 50px;
        margin-top: 25px;
        margin-right: 15px;
    }
    .hamburger__span{
        display: block;
        width: 100%;
        height: 10%;
        margin-top: 20%;
        background-color: white;
        border-radius: 2px;
    }
    .navbar--show .navbar__navigation{
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 30% 30%;
    }
    .navbar--show .navbar__logo{
        display: none;
    }
    .navigation__button{
        padding: 15% 0;
        text-align: center;
    }
    .navigation__button--full > a{
        width: fit-content;
        border-radius: 45px;
        padding: 20px 45px;
        font-weight: 600;
        letter-spacing: 1px;
        text-transform: uppercase !important;
    }
    .navigation__button > a{
        font-size: 60px;
        text-transform: capitalize;
    }
    .navbar--show .navigation__hamburger{
        position: absolute;
        right: 60px;
        top: 0;
        z-index: 5;
    }
    .navbar--show{
        display: unset;
        position: fixed;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        top: 0;
        left: 0;
    }
    .navigation__icons{
        display: flex;
        justify-content: space-around;
    }
    .navigation__icons img{
        filter: invert(50%);
    }
}